body{
 margin: 0 auto;  
 font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1350px;
    height: 100%;
    margin: 6% 8% 0 8% ;
}
nav{
    max-width: 1350px;
    margin: auto;
    display: flex;
    /* padding: 2% 4%; */
    /* justify-content: space-between; */
    align-items: center;
}
.nav-links{
    flex: 1;
    padding-left: 60px;
}
.sidebariconToggle{
    display: none;
}
#opensidebarMenu{
    display: none;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
#search-icon{
    font-size: 26px;
    color: #0d182b;
    margin-right: 60px;
}
#bar-icon{
    font-size: 28px;
    color: #0d182b;
    margin-right: 115px;
}
.luxterior{
    font-size: 28px;
    font-weight: 700;
    margin-left: 100px;
}
.banner{
    margin-top: 0 ;
    display: flex;
}
.intro-text-box{
    left: 0;
    width: 35%;
    z-index: 1;
    position: absolute;
    margin-top: 180px;
    border-radius: 4px;
    background-color: rgb(82, 103, 116);
}
.image1{
    width: 100%;
    height: 90%;
    margin-left: 245px;
    border-radius: 4px;
}
.intro-image{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    width: 90%;
}
.download-box{
    z-index: 1;
    position: absolute;
    margin: 43% 0 0 79%;
}
#download-icon{
    width: 110px;
    height: 90px;
    border-radius: 3px;
}
.square-box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    margin: 42% 0 0 -47%;
    border-radius: 2px;
    z-index: -1;
    position: absolute;
}
.intro-text1{
    color: aliceblue;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
    padding: 0% 15% 0 23%;
}
.intro-text2{
    color: #fff;
    padding: 0 15% 0 23%
}
.features-heading{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-right: 400px;
    padding-left: 150px;
}
.horizontal-straight-line{
    width: 110px;
    height: 40px;
    position: absolute;
    padding-top: 75px;
    padding-left: 0px;
    font-weight: bolder;
}
.features-desc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.features-items{
    display: flex;
}
.feature-subheading{
    font-size: 30px;
    font-weight: 550;
}
#truck-icon{
    padding: 35px 28px 0px 30px;
    width: 60px;
    height: 60px;
}
#quality-icon{
    padding: 40px 28px 0 0;
    padding-right: 28px;
    width: 50px;
    height: 50px;
}
#badge-icon{
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 28px;
    width: 40px;
    height: 40px;
}
.experience{
    display: flex;
    gap: 30px;
}
.exp-image{
    flex: 1;
}
#exp-brief{
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 0;
}
.exp-text{
    flex: 1;
}
#image2{
    width: 95%;
    height: 90%;
    border-radius: 4px;
}
#exp-heading{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}
.exp-number{
    display: flex;
    font-size: 50px;
    margin-bottom: -55px;
    font-weight: 700;
}
.exp-number-text{
    display: flex;
    width: auto;
    height: 15%;
}
.total-exp{
    flex: 1;
}
.awards{
    flex: 1;
}
.total-sold{
    flex: 1;
}
.learn-more{
    display: flex;
    position: relative;
}
#LM-btn{
    padding: 16px 32px;
    color: black;
    border: 2px solid #030303;
}
.lm-right-arrow{
    font-size: 45px;
    position: absolute;
    right: 73%;
    align-self: center;
}
.process{
    display: flex;
    margin-top: 100px;
    gap: 70px;
}
.process-brief{
    flex: 1;
}
.process-timeline{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
}
.process-image{
    flex: 1;
    justify-content: center;
}
#image3{
    width: 98%;
    height: 100%%;   
    border-radius: 4px;
}
.process-brief h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 65px 0;
}
.process-heading h3{
    font-weight: 550;
    margin-bottom: 10px;
    padding-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.number{
    background-color: #5c6c78;
    font-size: 20px;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    color: white;
  }
.process-heading{
    display: flex;
}
.timeline-dash {
    height: 100%;
    width: 1px;
    margin: auto;
    background-color: #4a4d50;
}
.timeline-dash:last-of-type {
    visibility: hidden;
}
.brief{
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
}
.brief-last{
    margin-left: 135px;
    margin-right: 70px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}
.process-desc{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.fb-heading-arrow{
    display: flex;
}
.fb{
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    margin-top: 50px;
}
.l-r-arrow{
    width: fit-content;
    margin-left: 40%;
}
.arrow-l-r{
    width: 30px;
    height: 35px;
    margin-top: 100px;
    text-align: right;
    
}
.feedback-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 100%;
    margin-top: 50px;
}
.feedback-1{
    background-color: rgb(82, 103, 116);
    border-radius: 4px;
    color: #fff;
}
.fb-customer{
    display: flex;
}
.customer-img{
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 38px;
    margin-top: 20px;

}
.cust-name-field{
    flex: 1;
    margin-left: 48px;
}
.cust-img-div{
    width: 60px;
    height: 60px;
}
.feedback-2{
    background-color: rgb(82, 103, 116);
    border-radius: 4px;
    color: #fff;
}
.double-quotes{
    width: 100px;
    height: 74px;
    margin: 20px 0 0 38px;
}
.feedback-heading{
    font-size: 34px;
    font-weight: 500;
    margin-left: 38px;
    margin-right: 70px;
}
.feedback-brief{
    font-size: 18px;
    margin-left: 38px;
    margin-right: 25px;
}
.customer-name{
    font-size: 20px;
    margin-bottom: -13px;
}
.customer-field{
    font-size: 16px;
}
.subscribe{
    height: 235px;
    text-align: center;
}
.subscribe-heading{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 20%;
}
.subscribe-brief{
    margin: 10px 20%;
}
.subscriber-box{
    background-color: white;
    display: flex;
    padding: 5px 10px 5px 0;
    margin: 0 23%;
    width: fit-content;
    z-index: 0;
    position: absolute;
    align-items: center;
}
.subscriber-box input{
    width: 500px;
    height: 45px;
    margin-left: 20px;
}
.subscriber-box input[type="text"]{
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0 10px 0 0;
}
.subscriber-box a{
    text-decoration: none;
    color: white;
    height: 30px;
    z-index: 1;
    position: absolute;
    background-color: #0d182b;
    padding: 6px 56px;
    margin-left: 337px;
    text-align: center;
}
footer{
    display: flex;
    height: 400px;
    z-index: -1;
    background-color: rgb(82, 103, 116);
    color: #fff;
}
.company{
 width: 25%;
 margin: 100px 0 0 90px;
}
.footer-contents{
    padding-left: 70px;
    margin-top: 100px;
    display: flex;
}
footer ul{
    list-style: none;
    display: block;
    float: left;
}
footer h3{
    font-weight: 550;
    margin-bottom: 10px;
    padding-left: 77px;
}
footer ul li{
    padding-top: 10px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
}
.social{
    width: 30px;
    height: 30px;
    padding-left: 40px;
    padding-top: 15px;
}

@media (max-width: 1024px) {
    .container{
        max-width: 950px;
    }
    .nav-container{
        max-width: 950px;
    }
    .nav-links{
        padding-left: 40px;
    }
    .nav-links ul li{
        padding-left: 15px;
    }
    .nav-links ul li a{
        font-size: 16px;
    }
    .luxterior{
        font-size: 26px;
        margin-left: 55px;
    }
    #search-icon{
        margin-right: 45px;
    }
    #bar-icon{
        margin-right: 20px;
    }
    .container-contents{
        margin-left: 20px;
    }
    .image1{
        /* width: 700px;
        height: 480px; */
        margin-left: 240px;
    }
    .download-box{
        margin: 41% 0 0 84%;
    }
    #download-icon{
        width: 90px;
        height: 75px;
        border-radius: 3px;
    }
    .square-box{
        margin: 42% 0 0 -40%;
        width: 80px;
        height: 80px;
    }
    .intro-text-box{
        /* left: -56%; */
        margin-top: 80px;
        width: 45%;
        height: 45%;
    }
    .intro-text1{
        font-size: 37px;
        margin-top: 0;
        padding: 5% 7% 0 20%;
        font-weight: 750;
    }
    .intro-text2{
        padding: 0 7% 0 20%
    }
    .features-heading{
        font-size: 37px;
        margin-right: 250px;
    }
    .feature-subheading{
        font-size: 28px;
    }
    #image2{
        width: 100%;
        height: 100%;
    }
    .experience{
        /* padding-top: 140px; */
        gap: 20px;
    }
    #exp-heading{
        font-size: 37px;
        margin-top: 15px;
    }
    #exp-brief{
        line-height: 25px;
    }
    .exp-number{
        font-size: 45px;
    }
    .lm-right-arrow{
        font-size: 50px;
        right: 57%;
    }
    .process{
        gap: 30px;
    }
    #image3{
        width: 100%;
        height: 95%;
    }
    .process-brief h2{
        margin: 0 0 10% 0;
        font-size: 37px;
    }
    .process-timeline{
        column-gap: 15px;
        row-gap: 5px;
    }
    .process-timeline h3{
        margin: 0;
    }
    .brief{    
        line-height: 22px;
        margin: 0 0 0 0;
    }
    .number{
        font-size: 17px;
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
    .fb{
        font-size: 37px;
        width: 350px;

    }
    .fb-heading-arrow{
        width: 820px;
    }
    .l-r-arrow{
        margin-left: 35%;
        display: flex;
    }
    .double-quotes{
        margin-top: 20px;
        width: 94px;
        height: 70px;
    }
    .feedback-heading{
        font-size: 26px;
        margin-right: 20px;
    }
    .subscribe{
        height: 215px;
    }
    .subscribe-heading{
        font-size: 37px;
        font-weight: 650;
        margin: 18px 20%;
    }
    .subscribe-brief{
        margin: 0 17%;
    }
    .subscriber-box{
        margin: 0 16%;
    }
    .luxterior-footer{
        font-size: 27px;
    }
    .company{
        margin-left: 30px;
    }
    .moto{
        font-size: 15px;
    }
    .footer-contents{
        padding-left: 5px;
    }
    footer h3{
        padding-left: 56px;
    }
    footer ul li a{
        padding-left: 15px;
        font-size: 15px;
    }
    .social{
        padding-left: 17px;
    }

}

  @media (max-width: 768px){
    .container{
        max-width: 700px;
        margin: 0 5% 0 5% ;
    }
    .nav-container{
        max-width: 700px;
    }
    .nav-links{
        padding-left: 20px;
    }
    .nav-links ul{
        padding-left: 20px;
    }
    .nav-links ul li{
        padding-left: 12px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }
    .luxterior{
        font-size: 24px;
        margin-left: 25px;
    }
    #search-icon{
        margin-right: 25px;
    }
    #bar-icon{
        margin-right: 0;
    }
    .image1{
        /* width: 500px;
        height: 320px; */
        margin-left: 90px;
    }
    .intro-text-box{
        height: 34%;
        width: 36%;
        margin-top: 10%;
    }
    .intro-text1{
        font-size: 26px;
        padding-left: 20%;
        font-weight: 600;
    }
    .intro-text2{
        font-size: 12px;
        padding-left: 20%;
        margin: 0;
    }
    #download-icon{
        width: 76px;
        height: 60px;
    }
    .download-box{
        margin: 37% 0 0 70%;
    }
    .square-box{
        margin: 37% 0 0 -49%;
        width: 60px;
        height: 60px; 
    }
    .features-heading{
        font-size: 32px;
        padding-left: 120px;
        margin-right: 209px;
    }
    .horizontal-straight-line{
        height: 25px;
        width: 90px;
    }
    .features{
        width: 700px;
    }
    #quality-icon{
        width: 45px;
        height: 45px;
        padding: 25px 17px 0px 0px;
    }
    #truck-icon{
        width: 50px;
        height: 50px;
        padding: 25px 15px 0px 15px;
    }
    #badge-icon{
        padding: 25px 15px 0px 15px;
    }
    .feature-subheading{
        font-size: 22px;
    }
    .feature-brief{
        font-size: 13px;
    }
    .experience{
        /* padding-top: 90px; */
    }
    #image2{
        width: 100%;
        height: 98%;
    }
    #exp-heading{
        font-size: 32px;
        margin: 2px 0 5px 0;
    }
    #exp-brief{
        font-size: 13px;
    }
    .exp-number{
        font-size: 40px;
        font-weight: 600;
    }
    .exp-number-text{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .total-exp{
        margin: 10px 0 40px 0;
    }
    .awards{
        margin: 10px 0 40px 0;
    }
    .total-sold{
        margin: 10px 0 40px 0;
    }
    #LM-btn{
        padding: 12px 25px;
    }
    .lm-right-arrow {
        font-size: 48px;
        right: 52%;
    }
    #image3{
        width: 350px;
        height: 500px;
        border-radius: 8px;
    }
    .process-brief h2{
        font-size: 32px;
    }
    .process-heading h3{
        margin: 5px 0 0 0;
        padding-left: 18px;
    }
    .brief{
        margin: 0;
        font-size: 12px;
        line-height: 18px;
    }
    .number{
        font-size: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .dash{
        height: 65px;
        width: 7px;
        margin-left: 50px;
    }
    .fb{
        font-size: 32px;
        width: 300px;

    }
    .fb-heading-arrow{
        width: 700px;
    }
    .l-r-arrow{
        margin-left: 30%;
        display: flex;
    }
    .double-quotes{
        margin-top: 20px;
        width: 80px;
        height: 60px;
    }
    .feedback-heading{
        font-size: 20px;
    }
    .feedback-brief{
        font-size: 13px;
        margin: 13px 22px;
    }
    .customer-name{
        font-size: 17px;
    }
    .customer-field{
        font-size: 14px;
    }
    .subscribe-heading{
        font-size: 32px;
        margin: 16px 20%;
        font-weight: 650;
    }
    .subscribe-brief{
        margin: 0 20%;
    }
    .subscriber-box{
        margin: 0 10%;
        padding: 0;
        margin-top: 8px;
    }
    footer{
        height: 300px;
    }
    .luxterior-footer{
        font-size: 23px;
    }
    .company{
        margin: 30px 0 0 30px;
    }
    .moto{
        font-size: 13px;
    }
    .footer-contents{
        margin-top: 30px;
        padding-left: 0px;
    }
    footer h3{
        padding-left: 20px;
        margin-bottom: 0;
    }
    footer ul{
        padding-left: 15px;
    }
    footer ul li a{
        padding-left: 5px;
        font-size: 13px;
    }
    .social{
        padding-left: 9px;
    }

}

@media (max-width: 450px) {
    .nav-links{
        height: 40%;
        position: absolute;
        z-index: 10;
        right: 0;
        display: none;
        top: 0;
        border-radius: 2px;
        width: 120px;
        margin-top: 60px;
        background-color: #e2dddd;
    }
    #opensidebarMenu:checked ~ .nav-links{
        display: block;
    }
    .menu{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .menu li{
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    }
    .menu li a{
        color: #fff;
        display: block;
        text-decoration: none;
    }
    #opensidebarMenu{
        display: none;
    }
    .sidebariconToggle{
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        z-index: 20;
        top: 40px;
        left: 95%;
        cursor: pointer;
    }
    .navbar-icons{
        display: none;
    }
    .banner{
        /* display: flex; */
        flex-direction: column;
        gap: 20px;
    }
    .intro-text-box{
        margin-top: 10px;
        align-self: center;
        position: relative;
        width: 85%;
        height: 50%;
        left: auto;
    }
    .intro-text1{
        font-size: 26px;
        padding: 0 2% 0 10%;
        font-weight: 600;
    }
    .intro-text2{
        font-size: 14px;
        padding: 0 2% 0 10%;
        margin: 0;
        text-align: justify;
    }
    .intro-image{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .image1{
        width: 85%;
        height: 100%;
        margin: auto;
        
    }
    .download-box{
        margin: 45% 0 0 65%;
    }
    .square-box{
        margin: 45% 0 0 -69%;
        width: 35px;
        height: 35px; 
    }
    #download-icon{
        width: 48px;
        height: 40px;
    }
    .features-heading{
        width: 90%;
        font-size: 24px;
        padding-left: 50px;
    }
    .features-desc{
        grid-template-columns: auto;
    }
    .horizontal-straight-line{
        height: 10px;
        width: 40px;
        padding-top: 70px;
    }
    .features{
        flex-direction: column;
        width: 300px;
    }
    #quality-icon{
        position: absolute;
        width: 45px;
        height: 45px;
        padding: 0 17px 0px 0px;
    }
    #truck-icon{
        position: absolute;
        width: 50px;
        height: 50px;
        padding: 0 5px 0 0;
    }
    #badge-icon{
        position: absolute;
        padding: 0 5px 0 0;
    }
    .feature-subheading{
        margin:15px 0 0 57px;
        font-size: 18px;
    }
    .feature-brief{
        width: 60%;
        margin-left: 20%;
        font-size: 12px;
    }
    .experience{
        flex-direction: column-reverse;
        padding-top: 0px;
    }
    .exp-image{
        width: 100%;
    }
    #image2{
        width: 100%;
        height: 100%;
    }
    #exp-heading{
        font-size: 24px;
        margin: 15px 0 5px 0;
    }
    #exp-brief{
        font-size: 12px;
        max-width: 380px;
        text-align: justify;
    }
    .exp-number{
        flex-direction: column;
        width:87%;
        text-align: center;
        position: absolute;
    }
    .exp-number-text{
        flex-direction: column;
        width: 90%;
        text-align: center;
        padding-top: 70px; 
    }
    .exp-number-text .total-sold{
        padding-top: 10px;
    }
    #LM-btn{
        width: 60%;
        margin:0 20% 0 20%;
    }
    .lm-right-arrow
    {
        font-size: 45px;
        right: 11%;
    }
    .process{
        flex-direction: column;
    }
    .process-image{
        justify-content: center;
    }
    #image3{
        height: 100%;
        width: 100%;
    }
    .fb-heading-arrow{
        max-width: 225px;
    }
    .process-brief h2{
        margin: 20px 0 10px 0;
        font-size: 24px;
    }
    .process-heading h3{
        padding-left: 17px;
    }
    .brief{
        line-height: 20px;
    }
    .brief-last{
        margin: 0 5px 0 96px;
        line-height: 20px;
    }
    .number{
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
    .dash{
        height: 60px;
    }
    .fb{
        font-size: 24px;
        width: 250px;

    }
    .l-r-arrow{
        display: none;
        margin-left: 0px;
    }
    .feedback-grid{
        grid-template-columns: auto;
        margin-top: 10px;
    }
    .fb-customer{
        margin-bottom: 5px;
    }
    .customer-name{
        font-size: 16px;
    }
    .customer-field{
        font-size: 12px;
    }
    .subscribe{
        height: 143px;
    }
    .subscribe-heading{
        margin: 20px 10px 10px 10px;
        font-size: 24px;
        font-weight: 550;
    }
    .subscribe-brief{
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    .subscriber-box input{
        width:240px;
        height: 25px;
        margin-left: 20px;
    }
    .subscriber-box input[type="text"]{
        font-size: 12px;
        padding: 6px 3px;
    }
    .subscriber-box a{
        margin-left: 158px;
        padding: 0px 20px 0px 20px;
        font-size: 13px;
    }
    .subscriber-box{
        margin: 0 5%;
    }
    footer{
        flex-direction: column;
        height: 100%;
    }
    .footer-contents{
        flex-direction: column;
    }
    .company{
        width: 80%;
    }
    footer ul{
        align-items: center;
    }
    footer ul li{
        padding-top: 0px;
    }
}
@media (min-width: 2560px) {
    .container{
        margin: 0 auto;
    }
    .lm-right-arrow{
        right: 75%;
    }
    .intro-text-box{
        left: -56%;
        width: 100%;
        height: 290px;
    }
    .intro-text1{
        font-size: 37px;
        margin-top: 0;
        padding:0% 4% 0 2120px;
        font-weight: 750;
    }
    .intro-text2{
        padding: 0% 4% 0 2120px;
    }
    .square-box{
        margin: 26% 0 0 -30%;

    }
    .download-box{
        margin: 26% 0 0 48%;
    }
}
