*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;  
    font-family: 'Poppins', sans-serif;
   }
.container{
    max-width: 1350px;
    height: 100%;
    margin: 6% 8% 0 8% ;
}
nav{
    max-width: 1350px;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    display: flex;
    justify-content: center;
}
.sidebariconToggle{
    display: none;
}
#opensidebarMenu{
    display: none;
}
.nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}
.navbar-icons{
    display: flex;
    gap: 21px;
    font-size: 28px;
    color: #0d182b;
}
.luxterior{
    font-size: 28px;
    font-weight: 700;
    margin-left: 100px;
}
.banner-container{
    margin-top: 0 ;
    display: flex;
    position: relative;
}
.image1{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
}
.banner-image{
    display: flex;
    max-width: 82%;
    margin-left: auto;
}
.download-box{
    z-index: 1;
    position: absolute;
    right: -1%;
    bottom: -3%;
}
#download-icon{
    width: 110px;
    height: 90px;
    border-radius: 6px;
}
.square-box{
    width: 100px;
    height: 100px;
    z-index: -1;
    position: absolute;
    left: 16%;
    bottom: -3%;
    border-radius: 2px;
    border: 2px solid rgb(47, 46, 46);
}
.banner-text{
    display: flex;
    max-width: 100%;
    z-index: 1;
    position: absolute;
    padding: 0 6% 2% 48%;
    margin-top: 13%;
    left: -46%;
    border-radius: 4px;
    background-color: #526774;
}
.intro-text-box{
    max-width: 330px;
    color: #fff;
}
.intro-text-box h1{
    font-size: 40px;
    font-weight: 800; 
    line-height: 50px;
    margin-bottom: 0px; 
}
.intro-text2{
    font-size: 18px;
}
.features-heading{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-right: 400px;
    padding-left: 150px;
}
.horizontal-straight-line{
    width: 110px;
    height: 40px;
    position: absolute;
    margin-top: 40px;
}
.features-desc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.features-items{
    display: flex;
    gap: 10px;
}
.feature-subheading{
    font-size: 30px;
    font-weight: 550;
}
#truck-icon{
    margin: 35px 28px 0px 30px;
    width: 60px;
    height: 60px;
}
#quality-icon{
    margin: 40px 28px 0 0;
    width: 50px;
    height: 50px;
}
#badge-icon{
    margin: 40px 28px 0 30px;
    width: 40px;
    height: 40px;
}
.experience{
    display: flex;
    gap: 30px;
}
.exp-image{
    flex: 1;
}
#exp-brief{
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 0;
}
.exp-text{
    flex: 1;
}
#image2{
    width: 85%;
    border-radius: 4px;
}
#exp-heading{
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
}
.exp-number{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.exp-number h2{
    font-size: 4rem;
}
.exp-number p{
    font-size: 20px;
}
.total-exp{
    flex: 1;
}
.awards{
    flex: 1;
}
.total-sold{
    flex: 1;
}
.learn-more{
    display: flex;
    position: relative;
}
#LM-btn{
    background-color: white;
    position: relative;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    padding: 14px 32px;
    font-weight: 500;
    color: #384349;
}
#LM-btn::after {
    content: '⟶';
    position: absolute;
    font-size: 40px;
    left: 147px;
    bottom: -1px;
    color: #364248;
  }
.process{
    display: flex;
    margin-top: 100px;
    gap: 70px;
}
.process-brief{
    flex: 1;
}
.process-timeline{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
}
.process-image{
    flex: 1;
    justify-content: center;
}
#image3{
    width: 98%;
    height: 100%;   
    border-radius: 4px;
}
.process-brief h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 65px 0;
}
.process-heading h3{
    font-weight: 550;
    margin-bottom: 10px;
    padding-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.number{
    background-color: #5c6c78;
    font-size: 20px;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    color: white;
  }
.process-heading{
    display: flex;
}
.timeline-dash {
    height: 100%;
    width: 1px;
    margin: auto;
    background-color: #4a4d50;
}
.timeline-dash:last-of-type {
    visibility: hidden;
}
.brief{
    line-height: 25px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
}
.brief-last{
    margin-left: 135px;
    margin-right: 70px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}
.process-desc{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.fb-heading-arrow{
    display: flex;
}
.fb-heading{
    flex: 1;
}
.fb{
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    margin-top: 50px;
}
.arrow-l-r{
    width: 30px;
    height: 35px;
    margin-top: 100px;
    text-align: right;
}
.feedback-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 100%;
    margin-top: 50px;
}
.feedback-1{
    background-color: rgb(82, 103, 116);
    border-radius: 4px;
    color: #fff;
}
.fb-customer{
    display: flex;
}
.customer-img{
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 38px;
    margin-top: 20px;
}
.cust-name-field{
    flex: 1;
    margin-left: 48px;
}
.cust-img-div{
    width: 60px;
    height: 60px;
}
.feedback-2{
    background-color: rgb(82, 103, 116);
    border-radius: 4px;
    color: #fff;
}
.double-quotes{
    width: 100px;
    height: 74px;
    margin: 20px 0 0 38px;
}
.feedback-heading{
    font-size: 34px;
    font-weight: 500;
    margin-left: 38px;
    margin-right: 70px;
}
.feedback-brief{
    font-size: 18px;
    margin-left: 38px;
    margin-right: 25px;
}
.customer-name{
    font-size: 20px;
    margin-bottom: -13px;
}
.customer-field{
    font-size: 16px;
}
.subscribe{
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.subscribe-heading{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 20%;
}
.subscribe-brief{
    margin: 10px 20%;
}
.subscriber-box{
    width: 560px;
    height: 48px;
    background-color: white;
    display: flex;
    z-index: 2;
    bottom: -9%;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    box-shadow:0 0 6px rgb(63, 63, 63);
}
.subscriber-box input{
    margin-left: 20px;
}
.subscriber-box input[type="text"]{
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 0 10px 0 0;
}
.subscriber-box a{
    text-decoration: none;
    color: white;
    height: 69%;
    width: 20%;
    position: absolute;
    background-color: #526774;;
    margin-left: 440px;
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: rgb(82, 103, 116);
    color: #fff;
}
.company{
    width: 25%;
    margin: 100px 0 0 90px;
}
.footer-contents{
    padding-left: 70px;
    margin-top: 100px;
    display: flex;
}
footer ul{
    list-style: none;
    display: block;
    float: left;
}
footer h3{
    font-weight: 550;
    margin-bottom: 10px;
    padding-left: 77px;
}
footer ul li{
    padding-top: 10px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
}
.social{
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 15px;
}

@media (max-width: 1100px) {
    .container{
        max-width: 1000px;
    }
    .nav-container{
        max-width: 950px;
    }
    .nav-links ul li{
        padding-left: 15px;
    }
    .nav-links ul li a{
        font-size: 16px;
    }
    .luxterior{
        font-size: 26px;
        margin-left: 55px;
    }
    .container-contents{
        margin-left: 20px;
    }
    #download-icon{
        width: 90px;
        height: 75px;
    }
    .square-box{
        width: 80px;
        height: 80px;
    }
    .intro-text-box{
        max-width: 260px;
    }
    .intro-text-box h1{
        font-size: 30px;
        line-height: normal;
        font-weight: 750;
    }
    .intro-text2{
        font-size: 14px;
    }
    .features-heading{
        font-size: 37px;
        margin-right: 250px;
    }
    .feature-subheading{
        font-size: 28px;
    }
    #image2{
        width: 100%;
        height: 100%;
    }
    .experience{
        gap: 20px;
    }
    #exp-heading{
        font-size: 37px;
        margin-top: 15px;
    }
    #exp-brief{
        line-height: 25px;
    }
    .exp-number h2{
        font-size: 3rem;
        margin: 15px 0;
    }
    .exp-number p{
        font-size: 14px;
    }
    #LM-btn{
        padding: 12px 26px;
    }
    #LM-btn::after{
        left: 135px;
        bottom: -2px;
    }
    .process{
        gap: 30px;
    }
    #image3{
        width: 100%;
        height: 95%;
    }
    .process-brief h2{
        margin: 0 0 10% 0;
        font-size: 37px;
    }
    .process-timeline{
        column-gap: 15px;
        row-gap: 5px;
    }
    .process-timeline h3{
        margin: 0;
    }
    .brief{    
        line-height: 22px;
        margin: 0 0 0 0;
    }
    .number{
        font-size: 17px;
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
    .fb{
        font-size: 37px;
        width: 350px;

    }
    .double-quotes{
        margin-top: 20px;
        width: 94px;
        height: 70px;
    }
    .feedback-heading{
        font-size: 26px;
        margin-right: 20px;
    }
    .subscribe-heading{
        font-size: 37px;
        font-weight: 650;
        margin: 18px 20%;
    }
    .subscribe-brief{
        margin: 0 17%;
    }
    .subscriber-box{
        width: 500px;
        height: 40px;
    }
    .subscriber-box input[type="text"]{
        font-size: 14px;
    }
    .subscriber-box a{
        margin-left: 395px;
        height: 77%;
    }
    .luxterior-footer{
        font-size: 27px;
    }
    .company{
        margin-left: 30px;
    }
    .moto{
        font-size: 15px;
    }
    .footer-contents{
        padding-left: 5px;
    }
    footer h3{
        padding-left: 56px;
    }
    footer ul li a{
        padding-left: 15px;
        font-size: 15px;
    }
}

  @media (max-width: 900px){
    .container{
        max-width: 800px;
        margin: 5% 5% 0 5% ;
    }
    .luxterior{
        font-size: 24px;
        margin-left: 25px;
    }
    .nav-container{
        max-width: 700px;
    }
    .nav-links ul{
        display: flex;
        padding-left: 0px;
    }
    .nav-links ul li{
        padding-left: 12px;
    }
    .nav-links ul li a{
        font-size: 14px;
    }
    .navbar-icons{
        font-size: 20px;
    }
    .intro-text-box{
        max-width: 230px;
    }
    .intro-text-box h1{
        font-size: 27px;
        line-height: 35px;
        margin-top: 15px;
        font-weight: 700;
    }
    .intro-text2{
        font-size: 12px;
        margin: 0;
    }
    #download-icon{
        width: 76px;
        height: 60px;
    }
    .square-box{
        width: 60px;
        height: 60px; 
    }
    .features-heading{
        font-size: 32px;
        padding-left: 120px;
        margin-right: 10%;
    }
    .horizontal-straight-line{
        height: 25px;
        width: 90px;
    }
    .features-desc{
        grid-template-columns: 350px;
        justify-content: center;
    }
    #quality-icon{
        width: 45px;
        height: 45px;
        margin: 25px 17px 0px 0px;
    }
    #truck-icon{
        width: 50px;
        height: 50px;
        margin: 25px 15px 0px 0px;
    }
    #badge-icon{
        margin: 25px 15px 0px 10px;
    }
    .feature-subheading{
        font-size: 22px;
    }
    .feature-brief{
        font-size: 13px;
    }
    #image2{
        width: 100%;
    }
    #exp-heading{
        font-size: 32px;
        margin: 2px 0 5px 0;
    }
    #exp-brief{
        font-size: 13px;
    }
    .exp-number h2{
        font-size: 3rem;
    }
    .exp-number p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .exp-number h2{
        margin: 10px 0 20px 0;
    }
    #LM-btn{
        padding: 8px 17px;
    }
    #LM-btn::after{
        left: 118px;
        font-size: 35px;
        bottom: -3px;
        }
    #image3{
        width: 100%;
        border-radius: 4px;
    }
    .process-brief h2{
        font-size: 32px;
    }
    .process-heading h3{
        margin: 5px 0 0 0;
        padding-left: 18px;
    }
    .brief{
        margin: 0;
        font-size: 12px;
        line-height: 18px;
    }
    .number{
        font-size: 15px;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    .dash{
        height: 65px;
        width: 7px;
        margin-left: 50px;
    }
    .fb{
        font-size: 32px;
        width: 300px;

    }
    .double-quotes{
        margin-top: 20px;
        width: 80px;
        height: 60px;
    }
    .feedback-heading{
        font-size: 20px;
    }
    .feedback-brief{
        font-size: 13px;
        margin: 13px 22px;
    }
    .customer-name{
        font-size: 17px;
    }
    .customer-img{
        height: 40px;
        width: 40px;
        margin-top: 15px;
    }
    .customer-field{
        font-size: 14px;
    }
    .subscribe-heading{
        font-size: 32px;
        margin: 16px 20%;
        font-weight: 650;
    }
    .subscribe-brief{
        margin: 0 20%;
    }
    .subscriber-box{
        padding: 0;
        bottom: -8%;
        width: 410px;
        height: 35px;
    }
    .subscriber-box a{
        margin-left: 324px;
    }
    footer{
        height: 300px;
    }
    .luxterior-footer{
        font-size: 23px;
        font-weight: 600;
    }
    .company{
        margin: 30px 0 0 20px;
    }
    .moto{
        font-size: 13px;
    }
    .footer-contents{
        margin-top: 30px;
        padding-left: 0px;
    }
    footer h3{
        padding-left: 18px;
        font-size: 16px;
        margin-bottom: 0;
    }
    footer ul{
        padding-left: 13px;
    }
    footer ul li a{
        padding-left: 5px;
        font-size: 11px;
    }
    .social{
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 500px) {
    .nav-links{
        height: 24%;
        position: absolute;
        z-index: 10;
        right: 0;
        display: none;
        top: 0;
        border-radius: 2px;
        width: 120px;
        margin-top: 60px;
        background-color: #008ba3;
    }
    #opensidebarMenu:checked ~ .nav-links{
        display: block;
    }
    .menu{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-links ul{
        display: block;
    }
    .menu li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    }
    .menu li a{
        text-decoration: none;
    }
    #opensidebarMenu{
        display: none;
    }
    .sidebariconToggle{
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        top: 40px;
        left: 93%;
        cursor: pointer;
    }
    .navbar-icons{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-text{
        padding: 0;
        position: relative;
        align-self: center;
        width: 85%;
        margin-top: 0;
        left: auto;
        justify-content: center;
    }
    .intro-text-box h1{
        font-size: 20px;
        line-height: 25px;
        padding: 2% 6% 1% 10%;
        font-weight: 600;
    }
    .intro-text2{
        font-size: 10px;
        padding: 0 14% 4% 10%;
        margin: 0;
        text-align: justify;
    }
    .banner-image{
        max-width: 100%;
        display: flex;
    }
    .image1{
        width: 85%;
        height: 100%;
        margin: auto;
    }
    .download-box{
        z-index: 2;
        right: 5%;
        bottom: -3%;
    }
    .square-box{
        left: 5%;
        bottom: -2%;
        width: 35px;
        height: 35px; 
    }
    #download-icon{
        width: 48px;
        height: 40px;
    }
    .features-heading{
        width: 82%;
        font-size: 20px;
        padding-left: 50px;
    }
    .horizontal-straight-line{
        height: 10px;
        width: 40px;
        margin-top: 27px;
    }
    .feature-description-container{
        display: flex;
        justify-content: center;
    }
    .features-desc{
        grid-template-columns: auto;
        width: 300px;
    }
    .features{
        flex-direction: column;
    }
    #quality-icon{
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 15px 17px 0px 0px;
    }
    #truck-icon{
        position: absolute;
        width: 45px;
        height: 45px;
        margin: 10px 5px 0 0;
    }
    #badge-icon{
        position: absolute;
        margin: 10px 5px 0 0;
    }
    .feature-subheading{
        margin:15px 0 0 57px;
        font-size: 16px;
    }
    .feature-brief{
        width: 60%;
        margin-left: 20%;
        font-size: 12px;
    }
    .experience{
        flex-direction: column-reverse;
        padding-top: 0px;
    }
    .exp-image{
        width: 100%;
    }
    #image2{
        width: 100%;
        height: 100%;
    }
    #exp-heading{
        font-size: 20px;
        margin: 15px 0 5px 0;
    }
    #exp-brief{
        font-size: 12px;
        max-width: 380px;
        text-align: justify;
    }
    .exp-number{
        grid-template-columns: auto;
        text-align: center;
    }
    .exp-number h2{
        margin-bottom: 10px;
        font-size: 35px;
    }
    .exp-number p{
        font-size: 12px;
    }
    .exp-number-text .total-sold{
        padding-top: 10px;
    }
    .learn-more{
        justify-content: center;
        align-items: center;
    }
    #LM-btn{
        padding: 7px 15px;
    }
    .learn-more a{
        font-size: 10px;
    }
    #LM-btn::after{
        left: 80px;
        font-size: 25px;
        bottom: -3px;
    }
    .process{
        flex-direction: column;
    }
    .process-image{
        justify-content: center;
    }
    #image3{
        height: 100%;
        width: 100%;
    }
    .fb-heading-arrow{
        max-width: 225px;
    }
    .process-brief h2{
        margin: 20px 0 10px 0;
        font-size: 20px;
    }
    .process-timeline h3{
        font-size: 16px;
    }
    .brief{
        line-height: 20px;
    }
    .number{
        width: 42px;
        height: 42px;
        line-height: 42px;
    }
    .fb{
        font-size: 20px;
        width: 200px;
    }
    .feedback-heading{
        font-size: 16px;
        margin-left: 20px;
    }
    .feedback-brief{
        font-size: 12px;
    }
    .l-r-arrow{
        display: none;
        margin-left: 0px;
    }
    .feedback-grid{
        grid-template-columns: auto;
        margin-top: 10px;
    }
    .fb-customer{
        margin-bottom: 5px;
    }
    .customer-name{
        font-size: 14px;
    }
    .customer-img{
        height: 42px;
        width: 42px;
        margin-top: 10px;
    }
    .customer-field{
        font-size: 10px;
    }
    .subscribe-heading{
        margin: 20px 10px 10px 10px;
        font-size: 20px;
        font-weight: 550;
    }
    .subscribe-brief{
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }
    .subscriber-box input{
        width:240px;
        height: 25px;
        margin-left: 20px;
    }
    .subscriber-box input[type="text"]{
        font-size: 12px;
    }
    .subscriber-box a{
        margin: 2px 20px 2px 174px;
        font-size: 10px;
        width: 29%;
    }
    .subscriber-box{
        width: 250px;
        height: 30px;
        bottom: -10%;
    }
    footer{
        flex-direction: column;
        height: 100%;
    }
    .footer-contents{
        flex-direction: column;
    }
    .luxterior-footer{
        font-size: 20px;
        font-weight: 600;
    }
    .moto{
        font-size: 12px;
    }
    .footer-contents h3{
        font-size: 16px;
    }
    .footer-contents a{
        font-size: 12px;
    }
    .company{
        width: 70%;
    }
    footer ul{
        align-items: center;
    }
    footer ul li{
        padding-top: 0px;
    }
}
@media (min-width: 1700px) {
    .container{
        margin: 0 auto;
    }
}
